<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://milenabooks.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>milenabooks.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>milenabooks</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$milenabooks</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="Data Source=milenaserver.database.windows.net;Initial Catalog=bookStore;User ID=milena;Password=c41c9deD;Application Name=EntityFramework" Name="Data Source=milenaserver.database.windows.net;Initial Catalog=bookStore;User ID=milena;Password=c41c9deD;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BookStore.Models.ApplicationDbContext, BookStore" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="bookStoreEntities" Order="6" Enabled="False">
          <Destination Path="Data Source=milenaserver.database.windows.net;Initial Catalog=bookStore;User ID=milena;Password=c41c9deD;Application Name=EntityFramework" Name="Data Source=milenaserver.database.windows.net;Initial Catalog=bookStore;User ID=milena;Password=c41c9deD;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BookStore.DATA.ADO.NET.bookStoreEntities, BookStore.DATA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)bookStoreEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ADO.NET.BookStoreEntities.csdl|res://*/ADO.NET.BookStoreEntities.ssdl|res://*/ADO.NET.BookStoreEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=milenaserver.database.windows.net;Initial Catalog=bookStore;User ID=milena;Password=c41c9deD;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=milenaserver.database.windows.net;Initial Catalog=bookStore;User ID=milena;Password=c41c9deD;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>